openapi: 3.2.0
info:
  title: Fodda Ai Spt API
  version: 1.7.0
  description: 'Operations tagged Spt across 2 of this provider''s published API definitions: fodda-ai-openapi.json, fodda-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.fodda.ai
tags:
- name: Spt
paths:
  /v1/spt/validate:
    get:
      summary: Validate SPT
      description: 'Check if a Stripe Shared Payment Token (SPT) is active and has remaining balance.


        Price: Free ($0)'
      operationId: validate_spt
      x-fodda-price-usd: 0
      x-fodda-billing-type: free
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security: []
      tags:
      - Spt
    servers:
    - url: https://api.fodda.ai
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        ok:
          type: boolean
        requestId:
          type: string
        schema_version:
          type: string
        search_path:
          type: string
        deterministic:
          type: boolean
        dataStatus:
          type: string
        rows:
          type: array
          items:
            type: object
            properties:
              rowId:
                type: string
              rowName:
                type: string
              rowSummary:
                type: string
              _score:
                type: number
        meta:
          type: object
          properties:
            decision:
              type: string
            usage:
              type: object
              properties:
                total_billable_units:
                  type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-Key
      in: header
      description: Required for all endpoints unless marked public.
    stripeSPT:
      type: http
      scheme: bearer
      description: 'Stripe Shared Payment Token (MPP). Pass an SPT obtained from Stripe Link via Authorization: Bearer spt_xxx.'
x-refined-from:
- fodda-ai-openapi.json
- fodda-ai-openapi.yml
